@use '../abstracts' as *;

.btn {
	padding: 1.5rem 2rem;
	border-radius: 3px;
	background-color: $primary;
	border: 0;
	font-size: 1.5rem;
	font-family: $font-josefin;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $grey-l;
	cursor: pointer;
	transition: all 0.25s;

	&:hover,
	&:focus {
		background-color: $primary-l;
	}
}
